.cardWrapper{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    .basicInfo, .additionalInfo {
        margin: 10px;
        border: 1px solid black;
    }
}
.fade {
    opacity: 0.5;
}